.ipynb_checkpoints

figures
data/*

env

run/
run*
build/
*.init
*.nc
std*
*.meta
*.data
output.txt

!data/BBTRE-tracer/
!data/BBTRE-tracer/*.nc
!data/RotatedPrescribedMixing2D/
!data/RotatedPrescribedMixing2D/*.nc
!data/RotatedTidalMixing2D/
!data/RotatedTidalMixing2D/*.nc

__pycache__/
